aiohttp[speedups]
asyncurban
bs4
cowpy
lottie
covid
colour
duckduckgo_search
emoji
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
google_images_download
gpytranslate
hachoir
heroku3
html_telegraph_poster
humanize
jikanpy
lxml
lyricsgenius
markdown
pendulum
psutil
psycopg2
pybase64
pyfiglet
pylast
pySmartDL
python-barcode
python-dotenv
pytz
prettytable
qrcode
requests>=2.26.0
speedtest-cli>=2.1.3
sqlalchemy==1.3.23
telethon>=1.24.0
telegraph
wikipedia==1.4.0
PyGithub==1.55
google_trans_new==1.1.9
wget==3.2
validators==0.18.2
aiofiles
patool
